:root{
    --green: #335c67;
    --yellow: #fff3b0;
    --orange: #e09f3e;
    --red:#9e2a2b;
    --mahogany: #540b0e;
    --white: #ffffff;
    --black: #000000;
    --gray: #25282a;
}
.main {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 80vh;
    /* height: calc(100vh - 7rem); */
}

.detail-container {
    background-color: var(--white);
    width: 70%;
    margin: 5vh 0 5vh 0;
    border-radius: 5px;
    display: flex;
    padding: 3rem;
    justify-content: space-around;
    align-items: center;
}

.image-container {
    margin-right: 4rem;
    display: flex;
}
.image-container > img{
    height: 60vh;
    align-self: center;
    filter: drop-shadow(5px 5px 5px var(--gray));
}

.detail-info-container {
    width: 70%;
}

.name-id-container {
    padding: 0.5rem 2rem 0.5rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.wine-name, .wine-id {
    margin: auto 0;
}

.wine-description {
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 5px;
    padding: 2rem 1rem 3rem 1rem;
}

.wine-category{
    display: flex;
    align-items: baseline;
}
.wine-category > h3{
    padding-right: 0.5vw;
}
/*.wine-categories {
    background-color: rgb(133, 133, 246);
    height: 100px;
}*/

.wine-available {
    background-color: rgb(178, 108, 244);
    height: 50px;
}

.purchase-container {
    background-color: rgb(197, 241, 110);
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.wine-price, .add-to-cart {
    margin: auto 0;
}
.wine-price{
    color: var(--green);
    font-weight: bolder;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: var(--green);
    color: var(--white);
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px 2px var(--gray);
}
.add-to-cart:active{
    background-color: var(--white);
    color: var(--black);
  }