@media (max-width:1210px) {
  .filter__searchBar{
    width: 30em;
  }  
}

@media (max-width:996px) {
  .filter__searchBar{
    width: 25em;
  }  
}

@media (max-width:885px) {
  .filter__searchBar{
    width: 20em;
  }  
}

/* Tablet */
@media (max-width: 992px) {
  /** -----SLIDER----- **/
  .slider-frame {
    height: 17em;
    background-color: #889454;
  }

  .slider-frame ul {
    height: 100%;
  }

  .filter {
    flex-direction: column-reverse;
    gap: 1em;
  }

  .button-filter {
    width: 12em;
  }

  .iframe-form-container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* padding: 0; */
  }

  .iframe-container {
    margin: auto;
    width: 90%;
    height: 20em;
    /* background-color: rgb(0, 21, 255); */
    align-items: stretch;
  }

  .iframe-container > iframe {
    width: 100%;
    height: 100%;
    text-align: center;
  }

    .form-container{
        width: 90%;
    }

    .footer-container > div{
        margin-right: 1em;
    }
      /** -----LOGIN----- **/
  #popupBody{
    width: 60%;
    margin-top: 5vh;
  }
  .popupContent{
    padding: 7vh 5vw 1vh 5vw;
  }
  .container-icons img{
    margin: 3vh 3vw;
    width: 24px;
  }
    .welcome__text {
      width: 60%;
    }
    .hide-header{
        display: flex;
    }
    .hide-body{
        display: none;
    }
}

@media (max-width: 766px) {
    /** -----SLIDER----- **/
    .slider-frame {
        height: 14em;
        overflow: hidden;
        background-color: #2800c9;
    }

    .footer-top{
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    header{
      min-height: 100px;
      padding: 0 5%;
      justify-content: space-between;
    }

    .nav-container{
      position: relative;
    }

    .menu-hamb{
      display: block;
    }

    .indices{
      display: block;
    }

    .filter__searchBar{
      width: 100%;
    }

    .filter__searchBar>input{
      padding: 10px 65px;
    }

    .nav-container{
      display: none;
    }

    .botones{
      display: block;
    }

    .botones{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 30px;
    }
    .cards-container {
      gap: 2.5em;
      margin: 1em;
    }
    .card {
      width: 14em;
      height: 26em;
    }
    .card__img img {
      width: 100%;
      margin: 0;
  }
  .card__img {
    /* background-color: #BA8B02; */
    width: 100%;
    height: 300px;
    margin-bottom: 0;
  }
  .card__info {
    font-size: 12px;
  }
  .card__button {
    font-size: medium;
  }
  .welcome__text {
    width: 70%;
  }
  .button-filter {
    background-color: var(--green);
    width: 90px;
    height: 90px;
    font-size: 0.7em;
    cursor: pointer;
    border-radius: 50%;
  }
  .button-filter i {
    display: none;
  }
  .button-filter h2 {
    margin-bottom: -15px;
    color: aliceblue;
  }
  .button-filter:hover {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  #Tinto {
    background-image: url(../assets/img/tinto.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  #Blanco {
    background-image: url(../assets/img/blanco.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  #Cava {
    background-image: url(../assets/img/cava.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  #Espumoso {
    background-image: url(../assets/img/espumoso.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  #all_wines {
    background-image: url(../assets/img/todos-vinos.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
}

@media (min-width:767px) {
  .menu{
      position: static;
      width: auto;
      height: auto;
      transform: translateX(0%);
      float: right;
      background-color: var(--blue);
  }

  .menu ul{
      display: flex;
  }

  .menu a{
      border: none;
  }
  
  .menu .boton{
      display: flex;
      margin-top: 10px;
      height: 20px;
      background-color: rgba(255, 255, 255, 0.767);
      border-top-left-radius: 10%;
      border-bottom-right-radius: 10%;
      border-bottom: none;
      color: var(--celeste);
      width: auto;
      border-bottom: none;
  }

  .botones a:hover{
      background-color: rgba(76, 99, 124, 0.3);
      color: var(--white);
      transition: all 0.3s ease;
  }

  .menu .entrar{
      color: rgb(10, 121, 67);
  }

  header  label{
      display: none;
  }

  #menu-toggle:checked ~ .x{
      display: none;
      transition: all 1s ease;
  }
  
}

/* Celu */
@media (max-width: 576px) {
  /** -----SLIDER----- **/
  .slider-frame {
    height: 11em;
    overflow: hidden;
    background-color: #cf13c3;
  }
  .cupon-container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .cart-resume-container {
    width: 70% !important;
  }

  .logo{
    position: absolute;
    left: 130px;
    font-size: 1em;
    cursor: pointer;
    z-index: 200;
  }
  .cards-container {
    gap: 2em;
    margin: 1em;
  }
  .card {
    width: 12em;
    height: 24em;
  }
  .card__img img {
    width: 100%;
    margin: 0;
}
.card__img {
  /* background-color: #BA8B02; */
  width: 100%;
  height: 250px;
  margin-bottom: 0;
}
.card__info {
  font-size: 11px;
}
.card__button {
  font-size: medium;
}
.welcome__text {
  width: 80%;
}
.button-filter {
  background-color: var(--green);
  width: 80px;
  height: 80px;
  font-size: 0.5em;
  cursor: pointer;
  border-radius: 50%;
}
}

@media (max-width: 540px) {
  .logo{
    left: 120px;
  }
  /** -----LOGIN----- **/
  #popupBody{
    width: 80%;
  }
  .popupContent{
    padding: 7vh 5vw 1vh 5vw;
  }
  .container-icons img{
    margin: 3vh 3vw;
    width: 24px;
  }
  /** -----HOME'S CARDS----- **/
  .view_more{
    position: absolute;
    display: block;
    z-index: 99;
    top: 10em;
    color: var(--white);
    text-shadow: 1px 1px 2px gray;
    /*font-size: medium;*/
    width: 80%;
    padding: 1em;
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    align-self: center;
    align-items: center;
  }


  /** -----DETAIL----- **/
  .detail-container{
    width: 85%;
  }
  .image-container{
    width: 80%;
  }
  .detail-info-container{
    width: 85%;
  }
  .name-id-container{
    text-align: center;
    padding: 0;
    justify-content: center;
  }
  .wine-name{
    width: 100%;
  }
  .wine-description-title,
  .wine-category-title,
  .wine-available-title {
    margin-top: 1vh;
}

/** -----CART DETAIL----- **/
.empty-cart {
  width: 80%;
}
.item-cart{
  flex-wrap: wrap;
  padding: 2vh 0 2vh 5vw;
}
.item-image{
  width: 30%;
  position: absolute;
  left: 0;
  margin-left: 8vw;
}
.item-name p{
  text-align: center;
  margin-bottom: 1vh;
}
.item-price{
  width: auto;
}
.count-product{
  margin-left: 15vw;
}
.item-cart i{
  margin-right: 5vw;
}
.total-price{
  flex-wrap: wrap;
  justify-content: center;
}
.total-product-price{
  margin: 1vh;
  text-align: center;
}
.btn-finalizar{
  margin: 2vh 10vw;
}
.copiar_cupon, .canjear_cupon{
  width: 90%;
  height: auto;
  padding: 2vh;
}
.action_cont input{
  width: 50%;
  text-align: center;
}
.action_cont button{
  width: 50%;
}

/** -----CONFIRMATION----- **/
.confirmation-content{
  width: 75%;
}
.main-title{
  font-size: xx-large;
}
.order-number{
  font-size: x-large;
}
  .cards-container {
    gap: 2em;
    margin: 1em;
  }
  .card {
    width: 12em;
    height: 24em;
  }
  .card__img img {
    width: 100%;
    margin: 0;
}
.card__img {
  /* background-color: #BA8B02; */
  width: 100%;
  height: 250px;
  margin-bottom: 0;
}
.card__info {
  font-size: 11px;
}
.card__button {
  font-size: medium;
}
.welcome__text {
  width: 80%;
}
.button-filter {
  background-color: var(--green);
  width: 70px;
  height: 70px;
  font-size: 0.5em;
  cursor: pointer;
  border-radius: 50%;
}
.filter {
  margin: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
}


@media (max-width: 450px) {
  /** -----SLIDER----- **/
  .slider-frame {
    height: 8em;
    overflow: hidden;
    background-color: #945454;
  }
  .clean-cart {
   padding: auto;
  }
  .filter__searchBar > input {
    width: 100%;
  }

  .logo{
    left: 110px;
  }
  .iframe-container , .footer-direccion, .footer-contacto{
    display: none;
  }
  .footer-top {
    margin-top: 2em;
  }
  .circular-image {
    height: 200px;
    width: 200px;
  }
  .form-container {
    width: 100%;
    padding-bottom: 10px;
  }
  
  .iframe-form-container{
    padding: 3vh !important;
  }
  .form-container > h2 {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
    padding: 5px !important;
  }
  .cards-container {
    gap: 1em;
    margin: 1em;
  }
  .card {
    width: 10.2em;
    height: 19em;
  }
  .card__img img {
    width: 100%;
    margin: 0;
}
.card__img {
  /* background-color: #BA8B02; */
  width: 100%;
  height: 200px;
  margin-bottom: 0;
}
.card__info {
  font-size: 8px;
}
.card__button {
  font-size: small;
}
.welcome__text {
  width: 90%;
}
.button-filter {
  background-color: var(--green);
  width: 60px;
  height: 60px;
  font-size: 0.4em;
  cursor: pointer;
  border-radius: 50%;
}
}
