* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: rgba(12, 58, 12, 0.712);
}
.logo{
    font-size: xx-large;
    font-weight: bold;
}
.nav-container > ul{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.nav-container > ul > li{
    list-style-type: none;
    margin: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
a {
    text-decoration: none;
    color: snow;
}